:root {
  --primary-color: #ec4899;
  --secondary-color: #000000;
  --background-light: #f9fafb;
  --border-color: #d1d5db;
  --text-main: #374151;
  --text-muted: #6b7280;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}